# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
ENV/
env/

# Data files
data/*.csv
!data/*.csv  # если хотим хранить небольшие файлы в репо
*.pkl
*.pt
*.bin
*.onnx

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/


# Output
output/
models/

# OS
.DS_Store
Thumbs.db
.env